<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Sample Inner Page</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Sample Inner Page</li>
                </ol>
            </div>

        </div>
    </div>
    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">네이버 도서 검색</h5>
                    <div class="search-bar">
                        <div class="search-form d-flex align-items-center">
                            <input type="text" id="searchTitle" name="searchTitle" placeholder="Search" title="Enter search keyword">
                            <button type="submit" title="Search" onclick="fnGetNaverBookSearchList();"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">네이버 도서 검색 결과</h5>
                    <!-- Table with stripped rows -->
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-container">
                            <table class="table datatable datatable-table">
                                <thead>
                                <tr>
                                    <th data-sortable="true" style="width: auto;">
                                        책표지
                                    </th>
                                    <th data-sortable="true" style="width: 25%;">
                                        책이름
                                    </th>
                                    <th data-sortable="true" style="width: 15%;">
                                        저자
                                    </th>
                                    <th data-sortable="true" style="width: 15%;">
                                        출판사
                                    </th>
                                    <th data-sortable="true" style="width: 15%;">
                                        가격
                                    </th>
                                    <th data-sortable="true" style="width: 10%;">
                                        출판일
                                    </th>
                                    <th data-sortable="true" style="width: 15%;">
                                        국제표준도서번호
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="info : ${naverBookApiList}">
                                        <td>
                                            <div class="image-enlargement">
                                                <img th:src="${info.image}" th:alt="${info.title}" class="tb-list-img">
                                            </div>
                                        </td>
                                        <td><a th:href="${info.link}" th:text="${info.title}"></a></td>
                                        <td th:text="${info.author}"></td>
                                        <td th:text="${info.publisher}"></td>
                                        <td th:text="${info.discount}"></td>
                                        <td th:text="${info.pubdate}"></td>
                                        <td th:text="${info.isbn}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
<script type="text/javascript">

function fnGetNaverBookSearchList() {

    let searchTitle = $("#searchTitle").val();

    $.ajax({
        type: "get"
        , url: "/book/getNaverBookSearchList" + "/" + searchTitle
        , dataType : "json"
        , success: function (result) {
            console.log(result);
        }
    });
}

</script>
</div>
</html>
