<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Sample Inner Page</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Sample Inner Page</li>
                </ol>
            </div>

        </div>
    </div>
    <section class="sample-page">
        <div class="container" data-aos="fade-up">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datatables</h5>
                    <p>Add lightweight datatables to your project with using the <a
                            href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a>
                        library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable.
                        Check for <a href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more
                            examples</a>.</p>

                    <!-- Table with stripped rows -->
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                        <div class="datatable-top">
                            <div class="datatable-dropdown">
                                <label>
                                    <select class="datatable-selector">
                                        <option value="5">5</option>
                                        <option value="10" selected="">10</option>
                                        <option value="15">15</option>
                                        <option value="-1">All</option>
                                    </select> entries per page
                                </label>
                            </div>
                            <div class="datatable-search">
                                <input class="datatable-input" placeholder="Search..." type="search"
                                       title="Search within table">
                            </div>
                        </div>
                        <div class="datatable-container">
                            <table class="table datatable datatable-table">
                                <thead>
                                <tr>
                                    <th data-sortable="true" style="width: 26.805555555555554%;">
                                        번호
                                    </th>
                                    <th data-sortable="true" style="width: 26.805555555555554%;">
                                        제목
                                    </th>
                                    <th data-sortable="true" style="width: 9.166666666666666%;">
                                        조회수
                                    </th>
                                    <th data-sortable="true" style="width: 28.541666666666664%;">
                                        날짜
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="info : ${list}">
                                    <td th:text="${info.nttId}"></td>
                                    <td><a th:href="@{|/board/${info.nttId}|(page=${list.number + 1})}" th:text="${info.nttSj}"></a></td>
                                    <td th:text="${info.inqlreCo}"></td>
                                    <td th:text="*{#temporals.format(info.regDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="datatable-bottom">
                            <nav class="datatable-pagination">
                                <ul class="datatable-pagination-list">
                                    <li class="datatable-pagination-list-item" th:classappend="${list.first} ? 'datatable-hidden datatable-disabled'">
                                        <a class="datatable-pagination-list-item-link" th:href="${list.first} ? '#' : @{/board/list(page=1)}">‹‹</a>
                                    </li>
                                    <li class="datatable-pagination-list-item" th:classappend="${list.first} ? 'datatable-hidden datatable-disabled'">
                                        <a class="datatable-pagination-list-item-link" th:href="${list.first} ? '#' : @{/board/list(page=${list.number})}">‹</a>
                                    </li>
                                    <li class="datatable-pagination-list-item" th:classappend="${page == (list.pageable.pageNumber + 1)} ? 'datatable-disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                        <a class="datatable-pagination-list-item-link" href="#" th:href="@{/board/list(page=${page})}" th:text="${page}"></a>
                                    </li>
                                    <li class="datatable-pagination-list-item" th:classappend="${list.last} ? 'datatable-hidden datatable-disabled'">
                                        <a class="datatable-pagination-list-item-link" th:href="${list.last} ? '#' : @{/board/list(page=${list.number + 2})}">›</a>
                                    </li>
                                    <li class="datatable-pagination-list-item" th:classappend="${list.last} ? 'datatable-hidden datatable-disabled'">
                                        <a class="datatable-pagination-list-item-link" th:href="${list.last} ? '#' : @{/board/list(page=${list.totalPages})}">››</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                  <div class="text-center">
                    <a href="/board/reg" class="btn btn-primary">등록</a>
                  </div>

                </div>
            </div>

        </div>
    </section>
<!--<script type="text/javascript">

</script>-->
</div>
</html>
