<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Sample Inner Page</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Sample Inner Page</li>
                </ol>
            </div>

        </div>
    </div>
    <section class="sample-page">
        <div class="container" data-aos="fade-up">


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">게시물 작성</h5>

                    <div class="datatable-container">
                        <table class="table datatable datatable-table">
                            <tr>
                                <th>
                                    번호
                                </th>
                                <td th:text="${boardInfo.nttId}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th>
                                    제목
                                </th>
                                <td th:text="${boardInfo.nttSj}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th>
                                    내용
                                </th>
                                <td th:text="${boardInfo.nttCn}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th>
                                    조회수
                                </th>
                                <td th:text="${boardInfo.inqlreCo}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th>
                                    날짜
                                </th>
                                <td th:text="${boardInfo.regDt}" colspan="3"></td>
                            </tr>
                            <tr>
                                <th>이미지</th>
                                <td>
                                    <th:block th:each="fileName :${boardInfo.storedFileNm}">
                                        <th:block th:if="${boardInfo.atchFileYn} == 'Y'">
                                            <img th:src="@{|/upload/${fileName}|}" alt="" class="tb_img">
                                        </th:block>
                                    </th:block>
                                </td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <button onclick="delBtn()" class="btn btn-primary">삭제</button>
                            <button onclick="modBtn()" class="btn btn-primary">수정</button>
                            <button onclick="listBtn()" class="btn btn-dark">목록</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script type="text/javascript">
        function delBtn() {
            const id = [[${boardInfo.nttId}]];
            location.href = "/board/del/" + id;
        }

        function modBtn() {
            const id = [[${boardInfo.nttId}]];
            const page = [[${page}]];
            location.href = "/board/mod/" + id +"?page=" + page;
        }

        const listBtn = () => {
            const page = [[${page}]];
            location.href = "/board/list?page=" + page;
        }
    </script>
</div>
</html>