<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Sample Inner Page</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Sample Inner Page</li>
                </ol>
            </div>

        </div>
    </div>
    <section class="sample-page">
        <div class="container" data-aos="fade-up">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">게시물 작성1</h5>
                    <form class="row g-3" action="/member/login" method="post">
                        <div class="col-12">
                            <label for="mberEmail" class="form-label">이메일</label>
                            <input class="form-control" type="text" name="mberEmail" id="mberEmail"> <br>
                        </div>
                        <div class="col-12">
                            <label for="mberPw" class="form-label">비밀번호</label>
                            <input class="form-control" type="password" name="mberPw" id="mberPw"> <br>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">로그인</button>
                            <a href="/member/reg" class="btn btn-dark">회원가입</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
</html>